<template>
  <div>
    <div class="column">
      <div class="row">
        div.col-xs-3
      </div>

      <div class="row">
        <div class="row q-gutter-xs col-9" v-if="addCourse">
          <q-input class="col-xs-12 col-sm-12 col-md-4" v-model="form.text" square outlined autogrow label="Course Name"/>
          <q-input class="col-xs-12 col-sm-12 col-md-4" v-model="form.text" square outlined autogrow label="Course Code"/>
          <q-input class="col-xs-12 col-sm-12 col-md-4" v-model.number="form.text" square outlined label="Course Unit"/>
        </div>
        <q-btn class="col-3" outline round color="primary" icon="add" @click="onClick" />
        </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {}
  }
}
</script>
