<template>
  <div>
    <q-btn size="sm" no-caps color="primary" v-if="ifdept" label="Assign Courses" @click="alert = true" />

    <q-dialog v-model="alert">
      <q-card style="min-width: 300px">
        <q-card-section class="q-pb-none">
          <div class="text-h6">Assign A Course</div>

        </q-card-section>
        <q-card-section class="q-gutter-xs">
          <q-input square outlined v-model="form.course_name" autogrow label="Course Name" />
          <q-select square outlined v-model="form.course_lecturer" :options="lecturer_list" label="Course Lecturer" />
          <q-select square outlined v-model.number="form.course_year" :options="course_levels" label="Course Year" />
          <q-select class="" v-model.number="form.course_unit" :options="course_units" square outlined label="Course Unit"/>
          <div class="column justify-end text-caption">
            <q-toggle v-model="form.core_course" label="Is it a Core Course" />
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn no-caps  flat label="Save" color="primary" @click="save()" />
        </q-card-actions>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import AddCourse from './add_course'
export default {
  // name: 'ComponentName',
  components:{
    AddCourse,
  },
  data () {
    return {
      addCourse:false,
      alert: false,
      lecturer_list:[
          'Professor Mike Ododo',
          'Professor Gajere Chukwuma',
          'Dr Simon Musa',
          'Dr Isah Rafikatu',
          'Dr Dosh Shima'
        ],
        course_levels:[1,2,3,4,5],
        course_units:['1 Unit','2 Units','3 Units','4 Units','5 Units'],
      form: {
        core_course: false,
        course_name:'',
        course_lecturer:'',
        course_year:'',
        course_unit:''
      }
    }
  },

  methods: {
    save(){
      if(this.$q.localStorage.getItem('mycourses')){
        let courses = JSON.parse(this.$q.localStorage.getItem('mycourses'))
        courses.push(this.form)
        this.$q.localStorage.set('mycourses', JSON.stringify(courses));
        this.alert = false;
        this.clear()
      }else {
        let courses = []
        courses.push(this.form)
        this.$q.localStorage.set('mycourses', JSON.stringify(courses));
        this.alert = false;
        this.clear()
      }
    },
    clear() {
      this.form.core_course =  false;
      this.form.course_name = '';
      this.form.course_lecturer = '';
      this.form.course_year = '';
      this.form.course_unit = '';

    }
  },

  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    ifdept(){ return this.$store.getters["auth/ifdept"] },
    ifschool(){ return this.$store.getters["auth/ifschool"] },
    route(){return this.$route.name}
  }
}
</script>
