<template>
  <div class="q-pa-xs">

      <q-card square flat bordered>
        <q-bar dark class="bg-primary text-white">
          <div class="col text-center text-weight-bold">
            Assignments
          </div>
        </q-bar>
          <q-tabs
            v-model="tab"
            dense
            inline-label
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="justify"
            narrow-indicator
          >
            <q-tab no-caps name="new" label="New"/>
            <q-tab no-caps name="graded" label="Graded" />
            <q-tab no-caps name="overdue" label="Overdue" />
          </q-tabs>

          <q-separator />

          <q-tab-panels v-model="tab" animated>

              <q-tab-panel name="new">
                <AssCard :data="newone"/>
              </q-tab-panel>

              <q-tab-panel name="graded" class="">
                <AssCard :data="grade"/>
              </q-tab-panel>

              <q-tab-panel name="overdue">
                <AssCard :data="expired"/>
              </q-tab-panel>

          </q-tab-panels>
        </q-card>

  </div>
</template>

<script>
import AssCard from './assignment_cards'
export default {
  // name: 'ComponentName',
  components:{
    AssCard
  },
  data () {
    return {
      tab: 'new',
      expired: [

        {
          avatar:'',
          name: 'Dr james Doe',
          course_id: 'MA201',
          title:'Build Edu 9ja',
          deadline: '',
          grade: '',
          expiry: true
        },
      ],
      newone:[
        {
          avatar:'',
          name: 'Dr james Doe',
          course_id: 'MA201',
          title:'Build Edu 9ja',
          deadline: {
            date:'2-04-2020',
            time: '4:00PM'
          },
          grade: '',
          expiry: false
        },
        {
          avatar:'',
          name: 'Dr james Doe',
          course_id: 'MA201',
          title:'Build Edu 9ja',
          deadline: {
            date:'12-04-2020',
            time: '8:00PM'
          },
          grade: '',
          expiry: false
        },
      ],
      grade:[
        {
          avatar:'',
          name: 'Dr james Doe',
          course_id: 'MA201',
          title:'Build Edu 9ja',
          deadline: '',
          grade: 'A+',
          expiry: false
        },
         {
          avatar:'',
          name: 'Dr james Doe',
          course_id: 'MA201',
          title:'Create a Robot',
          deadline: '',
          grade: 'A+',
          expiry: false
        },
        {
          avatar:'',
          name: 'Dr james Doe',
          course_id: 'MA201',
          title:'Solve the Mystrey of PI',
          deadline: '',
          grade: 'A+',
          expiry: false
        },
        {
          avatar:'',
          name: 'Dr james Doe',
          course_id: 'MA201',
          title:'Build Edu 9ja',
          deadline: '',
          grade: 'A+',
          expiry: false
        },
      ]

    }
  }
}
</script>
