<template>
  <q-scroll-area style="height: 150px;">
    <AssCards :data="data"/>
  </q-scroll-area>
</template>

<script>
import AssCards from '../../common/assCards'
export default {
  // name: 'ComponentName',
  props:['data'],
  components:{
    AssCards
  },
  data () {
    return {}
  }
}
</script>


