<template>
<div>
  <q-bar dark class="bg-primary text-white q-mt-sm q-mx-xs">
    <div class="col text-center text-weight-bold">
      Notice Board
    </div>
  </q-bar>
  <div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 q-pa-xs" v-for="(item, index) in boardData" :key="index" v-if="viewer(item.clearance)">
      <q-card class="my-card" flat bordered square >
        <q-card-section class="text-bold text-h6 row">
          <span>{{item.title}}</span>
          <q-space />
          <q-icon name="fas fa-thumbtack" style="color: #ccc; font-size: 1em;"/>
        </q-card-section>

        <q-card-section class="">
           <div class="text-caption">
              <div>{{item.detail}}</div>
            </div>
            <div class="text-bold text-negative text-right q-pt-sm">
              {{item.deadline}}
            </div>
        </q-card-section>
      </q-card>
    </div>
  </div>
</div>


</template>

<script>
import { ifteacher } from '../../../store/auth/getters'
export default {
  // name: 'ComponentName',
  data () {
    return {
      visible: true,
      boardData:[
        {
          title: 'Submit CS203 S',
          detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
          deadline: ' 7:30PM',
          clearance: '',
        },
        {
          title: 'Submit CS203 T',
          detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
          deadline: ' 7:30PM',
          clearance: 'ifteacher'
        },
        {
          title: 'Submit CS203 D',
          detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
          deadline: ' 7:30PM',
          clearance: 'ifdept'
        },
        {
          title: 'Submit CS203 SCH',
          detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
          deadline: ' 7:30PM',
          clearance: 'ifschool'
        },
        {
          title: 'Submit CS203',
          detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
          deadline: ' 7:30PM',
          clearance: 'ifteacher'
        },
        {
          title: 'Submit CS203 D',
          detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
          deadline: ' 7:30PM',
          clearance: 'ifdept'
        },
        {
          title: 'Submit CS203 SCH',
          detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
          deadline: ' 7:30PM',
          clearance: 'ifschool'
        },
        {
          title: 'Submit CS203 S',
          detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
          deadline: ' 7:30PM',
          clearance: '',
        },
        {
          title: 'Submit CS203 T',
          detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
          deadline: ' 7:30PM',
          clearance: 'ifteacher'
        },
        {
          title: 'Submit CS203 D',
          detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
          deadline: ' 7:30PM',
          clearance: 'ifdept'
        },
        {
          title: 'Submit CS203 SCH',
          detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
          deadline: ' 7:30PM',
          clearance: 'ifschool'
        },
        {
          title: 'Submit CS203',
          detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
          deadline: ' 7:30PM',
          clearance: 'ifteacher'
        },
        {
          title: 'Submit CS203 D',
          detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
          deadline: ' 7:30PM',
          clearance: 'ifdept'
        },
        {
          title: 'Submit CS203 SCH',
          detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
          deadline: ' 7:30PM',
          clearance: 'ifschool'
        }
      ]
    }
  },
  methods: {
    viewer(data){
      if(data == 'ifteacher'){
        return this.ifteacher
      }
      if(data == 'ifschool'){
        return this.ifschool
      }
      if(data == 'ifdept'){
        return this.ifdept
      }
      if(data == ''){
        if(!this.ifteacher && !this.ifschool && !this.ifdept){
          return true
        }

      }

    }
  },
  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    ifdept(){ return this.$store.getters["auth/ifdept"] },
    ifschool(){ return this.$store.getters["auth/ifschool"] },
    route(){return this.$route.name}
  }
}
</script>
