<template>
  <div class="q-pa-xs">
    <q-card square flat bordered>
        <q-tabs
          v-model="tab"
          dense
          inline-label
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
        >
          <q-tab no-caps name="previous" icon="ion-ios-arrow-back"/>
          <q-tab no-caps name="ongoing" label="Ongoing" />
          <q-tab no-caps name="next" icon="ion-ios-arrow-forward" >Next</q-tab>
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="previous">
            <div v-if="!ifschool">
              <div v-if="!ifdept">
                <OnCard />
              </div>
            </div>
            <OnAdminCard :data="school" v-if="ifschool" />
            <OnAdminCard :data="department" v-if="ifdept" />
          </q-tab-panel>

          <q-tab-panel name="ongoing" class="">
            <div v-if="!ifschool">
              <div v-if="!ifdept">
                <OnCard />
              </div>
            </div>
            <OnAdminCard :data="school" v-if="ifschool" />
            <OnAdminCard :data="department" v-if="ifdept" />
          </q-tab-panel>

          <q-tab-panel name="next">
            <div v-if="!ifschool">
              <div v-if="!ifdept">
                <OnCard />
              </div>
            </div>
            <OnAdminCard :data="school" v-if="ifschool" />
            <OnAdminCard :data="department" v-if="ifdept" />
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
  </div>
</template>

<script>
import OnCard from './ongoing_cards'
import OnAdminCard from './ongoing_admin_cards'
export default {
  // name: 'ComponentName',
  components:{
    OnCard, OnAdminCard
  },
  data () {
    return {
      tab: 'ongoing',
      school:[
        {
          course: 'MA101',
          start: '7:00AM',
          end: '9:00AM',
          dept: 'Maths',
          name: 'Prof Dantata John'
        },
        {
          course: 'PH101',
          start: '7:00AM',
          end: '9:00AM',
          dept: 'Physics',
          name: 'Prof Mike Ododo'
        },
        {
          course: 'MA101',
          start: '7:00AM',
          end: '9:00AM',
          dept: 'Maths',
          name: 'Prof Dantata John'
        },
        {
          course: 'PH101',
          start: '7:00AM',
          end: '9:00AM',
          dept: 'Physics',
          name: 'Prof Mike Ododo'
        }
      ],
      department:[
        {
          course: 'MA101',
          start: '7:00AM',
          end: '9:00AM',
          name: 'Prof Dantata John'
        },
        {
          course: 'PH101',
          start: '7:00AM',
          end: '9:00AM',
          name: 'Prof Mike Ododo'
        },
        {
          course: 'MA101',
          start: '7:00AM',
          end: '9:00AM',
          name: 'Prof Dantata John'
        },
        {
          course: 'PH101',
          start: '7:00AM',
          end: '9:00AM',
          name: 'Prof Mike Ododo'
        }
      ]

    }
  },

  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    ifdept(){ return this.$store.getters["auth/ifdept"] },
    ifschool(){ return this.$store.getters["auth/ifschool"] },
    route(){return this.$route.name}
  }
}
</script>
