<template>
  <div>
    <q-card class="my-card" flat>
      <div class="column flex-center">
        <q-avatar size="130px" >
          <img src="https://cdn.quasar.dev/img/avatar.png">
        </q-avatar>
        <div class="text-caption text-center">Prof. John Doe</div>
      </div>


      <div class="row">
        <div class="text-h6">CS 201</div>
        <q-space />
        <div class="text-negative">7:00AM</div>
      </div>
      <div class="text-caption">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
      <q-separator />
      <q-card-actions align="right">
        <q-btn disable size="sm" no-caps outline color="primary" label="Go to Class" @click="routing('classroom')" />
        <q-btn class="flex flex-center" flat no-caps dense size="sm" label="Timetable" />
      </q-card-actions>
    </q-card>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {}
  },
  methods: {
    routing(link) { this.$router.push({ name: link }); }
  },

}
</script>
