<template>
  <q-scroll-area style="height: 150px;">
    <div>
      <q-card class="row flex-center q-pa-xs" flat bordered v-for="(item, index) in data" :key="index">
        <q-card-section class="no-padding">
          <q-avatar size="md" >
            <img src="https://cdn.quasar.dev/img/avatar.png">
          </q-avatar>
        </q-card-section>
        <q-card-section class="no-padding q-ml-sm">
          <div>
            <span class="text-bold" v-if="item.dept">{{item.dept}} Department:</span>
            {{item.course}}
          </div>
           <div>
            <span class="text-grey text-caption">{{item.name}}</span>
          </div>
        </q-card-section>
        <q-space />
        <q-card-section class="text-left no-padding">
          <div class="text-green text-right" >
            {{item.start}} - {{item.end}}
          </div>
        </q-card-section>
      </q-card>
    </div>
  </q-scroll-area>
</template>

<script>
export default {
  // name: 'ComponentName',
  props:['data'],
  data () {
    return {}
  },


}
</script>


