<template>
  <div>
    <q-btn size="sm" no-caps color="primary" v-if="ifdept" label="Timetable Schedule" @click="alert = true" />

    <q-dialog v-model="alert">
      <div v-if="$q.localStorage.getItem('mycourses')">
        <q-card>
          {{myTime}}
          <q-card-section>
            <div class="text-h6">Alert</div>
          </q-card-section>
          <q-card-section>
            <q-select square outlined v-model="form.course_day" :options="theDays" label="Course Day" />
            <q-select square outlined v-model="form.course_time" :options="theTime" label="Course time" />
            <q-select class="" v-model.number="form.course" :options="thecourse" square outlined label="Course"/>
          </q-card-section>
          <q-card-actions align="right">
            <q-btn flat label="OK" color="primary"  />
          </q-card-actions>
        </q-card>
      </div>
      <div v-else class="">
        <q-card class="">
          <q-card-section>
            <div class="text-h4 text-grey-6 flex flex-center text-center">
              You haven't Added any course to your Department yet
                <AssignCourses/>
            </div>
          </q-card-section>
        </q-card>


      </div>
    </q-dialog>
  </div>
</template>

<script>
import AssignCourses from './assign_courses'
export default {
  // name: 'ComponentName',
  components:{
    AssignCourses
  },
  data () {
    return {
      alert: false,
      myTime: this.$q.localStorage.getItem('mycourses'),
      theDays:null,
      theTime:null,
      thecourse:null,
      form:{
        course_day: '',
        course_time: '',
        course: '',
      }
    }
  },

  mounted() {
    this.selectOptions()
  },

  methods: {

    selectOptions(){
      console.log();
      let timetable_data = JSON.parse(this.$q.localStorage.getItem('mytimeline'));
      let added_courses = JSON.parse(this.$q.localStorage.getItem('mycourses'));

      this.theDays = timetable_data.days
      this.theTime = timetable_data.time
      this.thecourse = added_courses.map(val => val.course_name)
    }
  },
  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    ifdept(){ return this.$store.getters["auth/ifdept"] },
    ifschool(){ return this.$store.getters["auth/ifschool"] },
    route(){return this.$route.name}
  }
}
</script>
