<template>
  <div>
    <q-toolbar class="bg-secondary text-primary">
      <q-toolbar-title v-if="ifschool"> School Dashboard </q-toolbar-title>
        <q-toolbar-title v-if="!ifdept">
          <span v-if="!ifschool">
            {{ifteacher ? 'Teacher' : 'Student'}} Dashboard
          </span>
        </q-toolbar-title>

      <q-toolbar-title v-if="ifdept"> Department Dashboard </q-toolbar-title>



      <q-btn flat round dense icon="apps" class="q-mr-xs lt-md" @click="showing = !showing">
        <q-menu v-model="showing">
          <q-list style="min-width: 100px">
            <q-item v-if="ifdept" clickable v-close-popup>
              <q-item-section>Assign Courses</q-item-section>
            </q-item>
            <q-item v-if="ifdept" clickable v-close-popup>
              <q-item-section>Timetable Schedule</q-item-section>
            </q-item>
            <q-separator />
            <q-item v-if="ifdept || ifschool || ifteacher ? true : false" clickable v-close-popup>
              <q-item-section>Create Memo</q-item-section>
            </q-item>
            <q-item v-if="ifschool" clickable v-close-popup>
              <q-item-section>Create Department</q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>

      <div class="q-gutter-xs gt-sm row">
        <!-- <q-btn size="sm" no-caps color="primary" v-if="ifdept" label="Timetable Schedule" @click="onClick" /> -->
        <TimeSchedule />
        <AssignCourses />
        <CreateMemo/>
        <q-btn size="sm" no-caps color="primary" v-if="ifschool" label="Create Department" @click="onClick" />
      </div>


      <!-- <q-btn flat round dense icon="more_vert" /> -->
    </q-toolbar>
  </div>
</template>

<script>
import CreateMemo from '../../common/create_memo'
import AssignCourses from './assign_courses'
import TimeSchedule from './time_schedule'
export default {
  // name: 'ComponentName',
  components:{
    CreateMemo, AssignCourses, TimeSchedule
  },
  data () {
    return {
      showing: false,
      deptData: {
        courses:[
          {
            name: 'Introduction to computer science',
            id: 'CS101'
          },
          {
            name: 'Introduction to algorithm',
            id: 'CS102'
          }
        ],
        lecturers:[]
      }
    }
  },

  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    ifdept(){ return this.$store.getters["auth/ifdept"] },
    ifschool(){ return this.$store.getters["auth/ifschool"] },
    route(){return this.$route.name}
  }
}
</script>
