<template>
  <div>
    <!-- Feed footer -->
    <!-- <q-card-section class="bg-transparent">
      <q-btn flat color="primary" label="Read More" @click="onClick" />
    </q-card-section> -->

    <q-separator />

    <q-card-section class="row q-gutter-md">
      <q-btn flat color="primary" icon="ion-eye" @click="onClick" />
      <q-space />
      <!-- <task :post="post" /> -->
      <!-- <q-btn no-caps flat color="primary" label="Your Assignment" @click="onClick" /> -->
    </q-card-section>

    <q-separator />
  </div>
</template>
<script>
// import task from "components/tasks/partials/popups/task";
export default {
  // props: ["post", "theLike"],
  // components: {
  //   task,
  // },
  data() {
    return {
      showComment: false
    };
  },

  computed: {
    route: function() {
      return this.$route.name;
    }
  }
};
</script>
