<template>
  <q-item class="q-pr-none q-pl-sm">
    <q-item-section avatar top class="no-padding">

      <q-item-label lines="1">
        {{post.title}}
      </q-item-label>

    </q-item-section>
  </q-item>
</template>
<script>
// import avatar from "components/common/avatar";
// import cardMenu from "components/common/cardMenu";
export default {
  props: ["post"],

  // components: {
  //   avatar,
  //   cardMenu
  // },

  methods: {
    openURL(slug) {
      this.$router.push({ name: "profile", params: { slug: slug } });
    }
  }
};
</script>
<style>
</style>
