<template>
  <div>
    <q-card square flat>
      <!-- Feed Header -->
      <cardHeader :post="post" :post_index="post_index" />
      <q-separator />

      <!-- media -->
      <q-card-section class="q-px-none q-pt-none" v-if="post.medias.length">
        <q-img
          class="link"
          @click="openURL(post.slug, post.is_premium, post.user.subscription)"
          v-if="
            post.medias[0].file_type == 'jpg' ||
            post.medias[0].file_type == 'jpeg' ||
            post.medias[0].file_type == 'png'
          "
          :src="s3 + '/post-files/' + post.id + '/' + post.medias[0].file"
          style="max-height: 300px;"
        />

        <q-media-player
          v-if="
            post.medias[0].file_type == 'mp4' ||
              post.medias[0].file_type == '3gp'
          "
          type="video"
          :source="s3 + '/post-files/' + post.id + '/' + post.medias[0].file"
          :ref="'video' + post.id"
        />

        <q-media-player
          v-if="
            post.medias[0].file_type == 'mp3' ||
              post.medias[0].file_type == 'wav'
          "
          type="audio"
          :source="s3 + '/post-files/' + post.id + '/' + post.medias[0].file"
          :ref="'audio' + post.id"
        />
      </q-card-section>

      <!-- title and content -->
      <q-card-section class="q-pb-lg">
        <div
          class="text-h5 text-left link"
          @click="openURL(post.slug, post.is_premium, post.user.subscription)"
        >{{ post.title }}</div>
        <div
          v-if="post.interest.length"
          class="row text-grey-6 text-caption text-weight-thin text-italic q-gutter-x-xs"
        >
          <div v-for="interest in post.interest" :key="interest.id">{{ interest.category.name }},</div>
        </div>
        <div class="row">
          <div
            class="text-body1 text-weight-light link"
            @click="openURL(post.slug, post.is_premium, post.user.subscription)"
            v-trimHTML
            v-html="post.content"
            v-trim
          ></div>
          <q-btn
            color="primary"
            flat
            dense
            no-caps
            label="Read More"
            @click="openURL(post.slug, post.is_premium, post.user.subscription)"
          />
        </div>
      </q-card-section>


      <cardFooter :theLike="route != 'exclusive-session-feed' ? true : false" :post="post" />
    </q-card>

    <q-dialog v-model="gate">
      <q-card square v-if="route == 'feed'">
        <q-card-section class="text-center bg-secondary q-pb-none">
          <q-item class="flex flex-center">
            <avatar
              style="margin-bottom: -50px"
              :src="post.user.avatar"
              :size="'100px'"
              :name="post.user.name"
              :user_id="post.user.id"
            />
          </q-item>
        </q-card-section>

        <q-card-section class="text-center full-width q-mt-lg q-px-none q-pb-none">
          <div class="col-12 text-bold">{{ post.user.name }}</div>
        </q-card-section>

        <q-card-section
          class="text-h6 text-weight-light text-center"
        >You are not subscribed to this mentor!</q-card-section>

        <q-card-actions class="row flex-center">
          <subscribe :profile="post.user" :size="'md'" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import cardHeader from "./cardHeader";
import cardFooter from "./cardFooter";
import subscribe from "components/common/subscribe";
import avatar from "components/common/avatar";
export default {
  props: ["post", "post_index"],
  // name: 'ComponentName',
  data() {
    return {
      s3: process.env.s3,
      gate: false
    };
  },

  components: {
    cardHeader,
    cardFooter,
    subscribe,
    avatar
  },

  computed: {
    route: function() {
      return this.$route.name;
    }
  },

  methods: {
    openURL(slug, is_premium, subscription) {
      if (is_premium && !subscription) {
        this.gate = true;
        return;
      }

      this.$router.push({ name: "singleFeed", params: { slug: slug } });
    }
  },

  directives: {
    trim: {
      // directive definition
      inserted: function(el) {
        var str = el.innerHTML;
        var resultString =
          str
            .split(" ")
            .slice(0, 50)
            .join(" ") + "...";
        el.innerHTML = resultString;
      }
    },
    trimHTML: {
      // directive definition
      inserted: function(el) {
        var str = el.innerHTML;
        var resultString = str.replace(/<(.|\n)*?>/g, "");
        el.innerHTML = resultString;
      }
    }
  }
};
</script>
