<template>
  <div>
    <q-card square flat>
      <!-- Feed Header -->
      <cardHeader :post="post" :post_index="post_index" />
      <q-separator />

      <!-- media -->
      <q-card-section class="q-px-none q-pt-none" v-if="post.media">
        <q-img
          class="link"
          @click="openURL(post.title)"
          v-if="post.media"
          :src="post.media"
          style="max-height: 300px;"
        />

        <!-- <q-media-player
          v-if="
            post.medias[0].file_type == 'mp3' ||
              post.medias[0].file_type == 'wav'
          "
          type="audio"
          :source="post.medias[0].file"
          :ref="'audio' + post.id"
        /> -->
      </q-card-section>

      <!-- title and content -->
      <q-card-section class="q-pb-lg">
        <div
          class="text-h5 text-left link"
          @click="openURL(post.title)"
        >{{ post.title }}</div>
        <div class="row">
          <div
            class="text-body1 text-weight-light link"
            @click="openURL(post.title)"
            v-trimHTML
            v-html="post.content"
            v-trim
          ></div>
          <q-btn
            color="primary"
            flat
            dense
            no-caps
            label="Read More"
            @click="openURL(post.title)"
          />
        </div>
      </q-card-section>


      <cardFooter />
    </q-card>
  </div>
</template>

<script>
import cardHeader from "./cardHeader";
import cardFooter from "./cardFooter";
// import avatar from "components/common/avatar";
export default {
  props: ["post", "post_index"],
  // name: 'ComponentName',
  data() {
    return {
      s3: process.env.s3,
      gate: false
    };
  },

  components: {
    cardHeader,
    cardFooter,

  },

  computed: {
    route: function() {
      return this.$route.name;
    }
  },

  methods: {
    openURL(slug) {
      console.log(slug);
    //  this.$router.push({ name: "singleFeed", params: { slug: slug } });
    }
  },

  directives: {
    trim: {
      // directive definition
      inserted: function(el) {
        var str = el.innerHTML;
        var resultString =
          str
            .split(" ")
            .slice(0, 50)
            .join(" ") + "...";
        el.innerHTML = resultString;
      }
    },
    trimHTML: {
      // directive definition
      inserted: function(el) {
        var str = el.innerHTML;
        var resultString = str.replace(/<(.|\n)*?>/g, "");
        el.innerHTML = resultString;
      }
    }
  }
};
</script>
