<template>
  <div class="q-gutter-sm">
    <q-toolbar class="bg-secondary text-white">
      <q-toolbar-title>{{data.course}} ({{data.course_code}})</q-toolbar-title>
    </q-toolbar>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 q-gutter-xs q-pa-xs">
        <q-card flat bordered class="row">
          <q-card-section class="col-xs-12 col-sm-12 col-md-4 flex flex-center">
            <q-img src="https://cdn.quasar.dev/img/boy-avatar.png" height="150px"  :alt="data.name"/>
          </q-card-section>
          <q-card-section class="col-xs-12 col-sm-12 col-md-8">
            <div class=""> <span class="text-bold"> Lecurers Name </span>{{data.name}}</div>
            <div class=""> <span class="text-bold"> Course year: </span>{{data.course_level}}</div>
            <div class=""> <span class="text-bold"> Course Unit: </span>{{data.course_unit}}</div>
            <div class=""> <span class="text-bold"> About The Course: </span>{{data.details}}</div>
          </q-card-section>
        </q-card>
        <q-card flat bordered class="my-card">
          <q-card-section>
            <div v-for="(item, index) in posts" :key="index">
              <feed :post="item" :post_index="index" />
            </div>

          </q-card-section>
        </q-card>


      </div>

      <div class="col-xs-12 col-sm-12 col-md-4">
        <q-bar dark class="bg-primary text-white">
          <div class="col text-center text-weight-bold">
            Assignments & Tasks
          </div>
        </q-bar>
        <AssCards :data="data.assignment" />
      </div>
    </div>

  </div>
</template>

<script>

import AssCards from '../../common/assCards'
import feed from './partials/feed'
export default {
  // name: 'ComponentName',
  // props:['data'],
  components:{
    AssCards, feed
  },
  data () {
    return {
      data: this.$route.params.courseData,
      layout: 'dense',
      side: 'right',
      posts: [
        {
          title: 'How to Win',
          conent: ' In order to receive the best answers to your questions please follow these simple guidelines.     Be descriptive about your question or problem and be sure to include any errors. Single line topics will rarely receive answers and do not just post a screenshot.     Provide examples of the code in question and use syntax highlighting.     Breakdown the issue in your code and provide a link to an example that replicates it. Use JSFiddle, CodePen, JSBin, or CodeSandbox. Following these few steps will greatly improve your chances of getting a good quality answer to your issue. Remember, everyone is here to share ideas and to help out using their own free time. Making an effort to craft a well thought out topic pays tribute to this.',
          media: 'statics/art2.jpg'
        },
        {
          title: 'How to Win',
          conent: ' In order to receive the best answers to your questions please follow these simple guidelines.     Be descriptive about your question or problem and be sure to include any errors. Single line topics will rarely receive answers and do not just post a screenshot.     Provide examples of the code in question and use syntax highlighting.     Breakdown the issue in your code and provide a link to an example that replicates it. Use JSFiddle, CodePen, JSBin, or CodeSandbox. Following these few steps will greatly improve your chances of getting a good quality answer to your issue. Remember, everyone is here to share ideas and to help out using their own free time. Making an effort to craft a well thought out topic pays tribute to this.',
          media: 'statics/art1.jpg'
        },
        {
          title: 'How to Win',
          conent: ' In order to receive the best answers to your questions please follow these simple guidelines.     Be descriptive about your question or problem and be sure to include any errors. Single line topics will rarely receive answers and do not just post a screenshot.     Provide examples of the code in question and use syntax highlighting.     Breakdown the issue in your code and provide a link to an example that replicates it. Use JSFiddle, CodePen, JSBin, or CodeSandbox. Following these few steps will greatly improve your chances of getting a good quality answer to your issue. Remember, everyone is here to share ideas and to help out using their own free time. Making an effort to craft a well thought out topic pays tribute to this.',
          media: 'statics/art2.jpg'
        },
        {
          title: 'How to Win',
          conent: ' In order to receive the best answers to your questions please follow these simple guidelines.     Be descriptive about your question or problem and be sure to include any errors. Single line topics will rarely receive answers and do not just post a screenshot.     Provide examples of the code in question and use syntax highlighting.     Breakdown the issue in your code and provide a link to an example that replicates it. Use JSFiddle, CodePen, JSBin, or CodeSandbox. Following these few steps will greatly improve your chances of getting a good quality answer to your issue. Remember, everyone is here to share ideas and to help out using their own free time. Making an effort to craft a well thought out topic pays tribute to this.',
          media: 'statics/art1.jpg'
        }
      ]
    }
  },
  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    ifdept(){ return this.$store.getters["auth/ifdept"] },
    ifschool(){ return this.$store.getters["auth/ifschool"] },
    route(){return this.$route.name}
  }
}
</script>
