<template>
  <div>
   <q-card class="my-card" flat bordered>
      <q-item>
        <q-item-section avatar>
          <q-avatar>
            <img src="https://cdn.quasar.dev/img/boy-avatar.png">
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label>{{data.course_code}} - {{data.course}}</q-item-label>
          <q-item-label caption>
            {{data.name}}
          </q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-item-label>School year: {{data.course_code}}</q-item-label>
          <q-item-label>{{data.course_level}}</q-item-label>
        </q-item-section>
      </q-item>

      <q-separator />

      <q-card-section>
          {{ data.details }}
        </q-card-section>

      <q-separator />

      <q-card-actions>
        <q-btn no-caps flat color="primary" @click="reroute(data.course, data, 'singleCourse')">
          More
        </q-btn>
        <q-space />
        <q-btn size="sm" no-caps outline color="primary" label="Go to Class" @click="routing('classroom')" />
      </q-card-actions>
    </q-card>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: ['data'],
  data () {
    return {}
  },
  methods: {
    reroute(slug, data, link) {
     this.$router.push({
       name: link,
       params: {
         slug: slug,
         courseData: data
        }
      });
    },
    routing(link) { this.$router.push({ name: link }); }
  },
}
</script>
