<template>
  <div class="q-gutter-sm">
    <q-toolbar class="bg-secondary text-white">
      <q-toolbar-title>{{data.course}} ({{data.course_code}})</q-toolbar-title>
    </q-toolbar>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 q-gutter-xs q-pa-xs">
        <q-card flat bordered class="row">
          <q-card-section class="col-xs-12 col-sm-12 col-md-4 flex flex-center">
            <q-img src="https://cdn.quasar.dev/img/boy-avatar.png" height="150px"  :alt="data.name"/>
          </q-card-section>
          <q-card-section class="col-xs-12 col-sm-12 col-md-8">
            <div class=""> <span class="text-bold"> Lecurers Name </span>{{data.name}}</div>
            <div class=""> <span class="text-bold"> Course year: </span>{{data.course_level}}</div>
            <div class=""> <span class="text-bold"> Course Unit: </span>{{data.course_unit}}</div>
            <div class=""> <span class="text-bold"> About The Course: </span>{{data.details}}</div>
          </q-card-section>
        </q-card>

        <q-card-actions align="right">
          <q-btn size="sm" no-caps outline color="primary" label="Go to Class" @click="reroute()" />
          <q-btn size="sm" no-caps outline color="primary" label="Class Forum" @click="onClick" />
        </q-card-actions>

        <q-card flat bordered class="my-card">
          <q-card-section>

            <Syllabus v-if="route == 'singleCourse'" :data="data.syllabus" />
            <div v-if="route == 'classroom'">
              <div v-for="(item, index) in posts" :key="index">
                <feed :post="item" :post_index="index" />
              </div>
            </div>

            <div v-if="route == 'classroom'">
              <q-page-sticky  v-if="ifteacher" position="bottom-right" :offset="[18, 18]">
                <q-btn size="sm" dense fab no-caps icon="add" label="Add Lecture" color="primary" @click="confirm = true" />
              </q-page-sticky>
            </div>


          </q-card-section>
        </q-card>

        <div>
          <q-dialog v-model="confirm">
            <q-card style="min-width: 300px">
              <q-card-section class="q-gutter-xs">
                <q-card flat bordered>
                  <q-bar dark class="bg-primary text-white">
                    <div class="col text-center text-weight-bold">
                      Lectures
                    </div>
                  </q-bar>
                  <q-card-section>
                    <div>
                      <q-input square outlined v-model="form.title" label="Lecture Title" />
                      <q-input square outlined v-model="form.content" autogrow label="Lecture Content" />
                    </div>

                    <upload
                      class="q-py-sm"
                      :url="url"
                      :is_upload="uploaded.is_upload"
                      :upImage="true"
                      @readyFile="uploaded.ready = $event"
                      @refreshFile="uploaded.ready = $event"
                      @finishFile="finishFn"
                    />
                  </q-card-section>
                </q-card>
                <q-card flat bordered>
                  <q-bar dark class="bg-primary text-white">
                    <div class="col text-center text-weight-bold">
                      Assignment
                    </div>
                  </q-bar>
                  <q-card-section>
                    <div>
                      <q-input square outlined v-model="form.Assignment" autogrow label="Add Assignment" />
                    </div>
                    <upload
                      class="q-py-sm"
                      :url="url"
                      :is_upload="uploaded.is_upload"
                      :upDoc="true"
                      @readyFile="uploaded.ready = $event"
                      @refreshFile="uploaded.ready = $event"
                      @finishFile="finishFn"
                    />
                  </q-card-section>
                </q-card>

              </q-card-section>
              <q-card-actions align="right">
                <q-btn no-caps flat label="Send" color="primary" v-close-popup />
              </q-card-actions>
            </q-card>
          </q-dialog>
        </div>

      </div>

      <div class="col-xs-12 col-sm-12 col-md-4">
        <q-bar dark class="bg-primary text-white">
          <div class="col text-center text-weight-bold">
            Assignments & Tasks
          </div>
        </q-bar>
        <AssCards :data="data.assignment" />
      </div>
    </div>

  </div>
</template>

<script>

import AssCards from '../../common/assCards'
import upload from '../../common/upload'
import Syllabus from './syllabus'
import feed from '../../classroom/partials/feed'
export default {
  // name: 'ComponentName',
  // props:['data'],
  components:{
    AssCards, Syllabus, feed, upload
  },
  data () {
    return {
      data: this.$route.params.courseData,
      layout: 'dense',
      side: 'right',
      confirm: false,
      uploaded: {
        ready: false,
        finishFile: false,
        is_upload: false
      },
      form:{
        title: '',
        content: '',
        Assignment: '',
        articleUpload: '',
        AssUpload: '',
      },
      posts: [
        {
          title: 'How to Win',
          content: ' In order to receive the best answers to your questions please follow these simple guidelines.     Be descriptive about your question or problem and be sure to include any errors. Single line topics will rarely receive answers and do not just post a screenshot.     Provide examples of the code in question and use syntax highlighting.     Breakdown the issue in your code and provide a link to an example that replicates it. Use JSFiddle, CodePen, JSBin, or CodeSandbox. Following these few steps will greatly improve your chances of getting a good quality answer to your issue. Remember, everyone is here to share ideas and to help out using their own free time. Making an effort to craft a well thought out topic pays tribute to this.',
          media: 'statics/art2.jpg'
        },
        {
          title: 'How to Win',
          content: ' In order to receive the best answers to your questions please follow these simple guidelines.     Be descriptive about your question or problem and be sure to include any errors. Single line topics will rarely receive answers and do not just post a screenshot.     Provide examples of the code in question and use syntax highlighting.     Breakdown the issue in your code and provide a link to an example that replicates it. Use JSFiddle, CodePen, JSBin, or CodeSandbox. Following these few steps will greatly improve your chances of getting a good quality answer to your issue. Remember, everyone is here to share ideas and to help out using their own free time. Making an effort to craft a well thought out topic pays tribute to this.',
          media: 'statics/art1.jpg'
        },
        {
          title: 'How to Win',
          content: ' In order to receive the best answers to your questions please follow these simple guidelines.     Be descriptive about your question or problem and be sure to include any errors. Single line topics will rarely receive answers and do not just post a screenshot.     Provide examples of the code in question and use syntax highlighting.     Breakdown the issue in your code and provide a link to an example that replicates it. Use JSFiddle, CodePen, JSBin, or CodeSandbox. Following these few steps will greatly improve your chances of getting a good quality answer to your issue. Remember, everyone is here to share ideas and to help out using their own free time. Making an effort to craft a well thought out topic pays tribute to this.',
          media: 'statics/art2.jpg'
        },
        {
          title: 'How to Win',
          content: ' In order to receive the best answers to your questions please follow these simple guidelines.     Be descriptive about your question or problem and be sure to include any errors. Single line topics will rarely receive answers and do not just post a screenshot.     Provide examples of the code in question and use syntax highlighting.     Breakdown the issue in your code and provide a link to an example that replicates it. Use JSFiddle, CodePen, JSBin, or CodeSandbox. Following these few steps will greatly improve your chances of getting a good quality answer to your issue. Remember, everyone is here to share ideas and to help out using their own free time. Making an effort to craft a well thought out topic pays tribute to this.',
          media: 'statics/art1.jpg'
        }
      ]
    }
  },
  methods: {
    reroute() {
     this.$router.push({ name: "classroom" });
    },
    finishFn(e) {
      this.$store.dispatch("auth/user");
      this.loading = false;
      this.uploaded.is_upload = false;
      this.open = false;
    }
  },
  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    ifdept(){ return this.$store.getters["auth/ifdept"] },
    ifschool(){ return this.$store.getters["auth/ifschool"] },
    route(){return this.$route.name}
  }
}
</script>
