<template>
  <q-page>
    <!-- content -->
    <Courses/>
  </q-page>
</template>

<script>
import Courses from '../components/courses/index'
export default {
  // name: 'PageName',
  components:{
    Courses
  }
}
</script>
