<template>
  <q-page style="background: #f1f3f4">
    <!-- content -->
    <Dashboard />
  </q-page>
</template>

<script>
import Dashboard from '../components/dashboard/student'
export default {
  // name: 'PageName',
  components: {
    Dashboard
  }
}
</script>
