<template>
  <q-page class="flex flex-center">
    <img
      class="window-height"
      alt="Quasar logo"
      src="https://technext.ng/wp-content/uploads/2018/04/student-education-750x354.jpg"
    >
    <div class="absolute-full column flex-center" style="background: rgba(0, 0, 0, 0.8);">
      <div class="text-h5 text-white text-center q-py-md">
        Attend Classes; <br>
        Meet Your Professors; <br>
        Get and Solve your Assignment; <br>
        Take Assessments <br>
        Get Graded

      </div>
      <div class="row q-gutter-xs">
        <q-btn size="sm" no-caps color="primary" label="Login" :to="{name: 'login'}" />
        <q-btn size="sm" outline no-caps color="white" label="Join A Classroom" :to="{name: 'register'}" />
      </div>

    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
