<template>
  <div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 q-pa-xs" v-for="(item, index) in data" :key="index">
        <courseCard v-if="route == 'Courses'" :data="item" />
      </div>
    </div>
    <singleCourse v-if="route != 'Courses'" :data="data" />
  </div>
</template>

<script>
import courseCard from './partials/course_card'
import singleCourse from './partials/single_course'
export default {
  // name: 'ComponentName',
  components:{
    courseCard, singleCourse
  },

  data () {
    return {
        data:[
          {
          course: 'Course 1',
          course_code: 'CS1',
          course_level: '1',
          course_unit:'3 Units',
          avatar: '',
          name:'Dr Simon Musa',
          details: 'lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum',
          syllabus: [
            {
              week: '1',
              topic: '1st Topic'
            },
            {
              week: '2',
              topic: '2nd Topic'
            },
            {
              week: '3',
              topic: '3rd Topic'
            },
            {
              week: '4',
              topic: '4th Topic'
            },
            {
              week: '5',
              topic: '5th Topic'
            },
            {
              week: '6',
              topic: '6th Topic'
            },
          ],
          assignment:[
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: '',
              grade: '',
              expiry: true
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: {
                date:'2-04-2020',
                time: '4:00PM'
              },
              grade: '',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: {
                date:'12-04-2020',
                time: '8:00PM'
              },
              grade: '',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: '',
              grade: 'A+',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Create a Robot',
              deadline: '',
              grade: 'A+',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Solve the Mystrey of PI',
              deadline: '',
              grade: 'A+',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: '',
              grade: 'A+',
              expiry: false
            },
          ]

        },
        {
          course: 'Course 1',
          course_code: 'CS1',
          course_level: '1',
          course_unit:'3 Units',
          avatar: '',
          name:'Dr Simon Musa',
          details: 'lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum',
          syllabus: [
            {
              week: '1',
              topic: '1st Topic'
            },
            {
              week: '1',
              topic: '1st Topic'
            },
            {
              week: '1',
              topic: '1st Topic'
            },
            {
              week: '1',
              topic: '1st Topic'
            },
            {
              week: '1',
              topic: '1st Topic'
            },
            {
              week: '1',
              topic: '1st Topic'
            },
          ],
          assignment:[
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: '',
              grade: '',
              expiry: true
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: {
                date:'2-04-2020',
                time: '4:00PM'
              },
              grade: '',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: {
                date:'12-04-2020',
                time: '8:00PM'
              },
              grade: '',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: '',
              grade: 'A+',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Create a Robot',
              deadline: '',
              grade: 'A+',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Solve the Mystrey of PI',
              deadline: '',
              grade: 'A+',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: '',
              grade: 'A+',
              expiry: false
            },
          ]


        },
        {
          course: 'Course 1',
          course_code: 'CS1',
          course_level: '1',
          course_unit:'3 Units',
          avatar: '',
          name:'Dr Simon Musa',
          details: 'lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum',
          syllabus: [
            {
              week: '1',
              topic: '1st Topic'
            },
            {
              week: '1',
              topic: '1st Topic'
            },
            {
              week: '1',
              topic: '1st Topic'
            },
            {
              week: '1',
              topic: '1st Topic'
            },
            {
              week: '1',
              topic: '1st Topic'
            },
            {
              week: '1',
              topic: '1st Topic'
            },
          ],
          assignment:[
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: '',
              grade: '',
              expiry: true
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: {
                date:'2-04-2020',
                time: '4:00PM'
              },
              grade: '',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: {
                date:'12-04-2020',
                time: '8:00PM'
              },
              grade: '',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: '',
              grade: 'A+',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Create a Robot',
              deadline: '',
              grade: 'A+',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Solve the Mystrey of PI',
              deadline: '',
              grade: 'A+',
              expiry: false
            },
            {
              avatar:'',
              name: 'Dr james Doe',
              course_id: 'MA201',
              title:'Build Edu 9ja',
              deadline: '',
              grade: 'A+',
              expiry: false
            },
          ]
        }
      ]
    }
  },

  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    ifdept(){ return this.$store.getters["auth/ifdept"] },
    ifschool(){ return this.$store.getters["auth/ifschool"] },
    route(){return this.$route.name}
  }


}
</script>
