<template>
  <div>
    <Top />
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <Ongoing/>
        <Assignment />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 q-gutter-y-xs">
        <Board />
      </div>
    </div>
  </div>
</template>

<script>
import Top from './partials/top'
import Board from './partials/board'
import Ongoing from './partials/ongoing'
import Assignment from './partials/assignment'
export default {
  // name: 'ComponentName',
  components: {
    Top, Board, Ongoing, Assignment
  },
  data () {
    return {}
  }
}
</script>
