<template>
    <div>
      <q-card @click="alert = true" class="row flex-center q-pa-xs" flat bordered v-for="(item, index) in data" :key="index">
        <q-card-section class="no-padding">
          <q-avatar size="md" >
            <img src="https://cdn.quasar.dev/img/avatar.png">
          </q-avatar>
        </q-card-section>
        <q-card-section class="no-padding q-ml-sm">
          <div>
            <span class="text-bold">{{item.course_id}}:</span>
            {{item.title}}
          </div>
           <div>
            <span class="text-grey text-caption">{{item.name}}</span>
          </div>
        </q-card-section>
        <q-space />
        <q-card-section class="text-left no-padding">
          <div class="text-negative text-bold" v-if="item.expiry == true">Expired</div>
          <div class="text-blue text-bold" v-if="item.grade != ''">{{item.grade}}</div>
          <div class="text-green text-right" v-if="item.deadline != ''">
            <div class="text-bold">{{item.deadline.time}}</div>
            <div class="text-caption">{{item.deadline.date}}</div>
          </div>
        </q-card-section>
        
        <q-dialog v-model="alert">
          <q-card>
            <q-card-section class="row">
              <div>
                <div>
                  <span class="text-bold">{{item.course_id}}:</span>
                  {{item.title}}
                </div>
                <div>
                  <span class="text-grey text-caption">{{item.name}}</span>
                </div>
              </div>
              <q-space />
              <div class="text-h6 text-negative text-bold" v-if="item.expiry == true">Expired</div>
              <div class="text-h6 text-blue text-bold" v-if="item.grade != ''">{{item.grade}}</div>
              <div class="text-h6 text-green text-right" v-if="item.deadline != ''">
                <div class="text-h6 text-bold">{{item.deadline.time}}</div>
                <div class="text-h6 text-caption">{{item.deadline.date}}</div>
              </div>

            </q-card-section>
            <q-card-section>
              {{lorem}}
            </q-card-section>
            <q-card-actions align="left">
              <q-btn flat label="OK" color="primary" v-close-popup />

            </q-card-actions>
          </q-card>
        </q-dialog>
      </q-card>



    </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props:['data'],
  data () {
    return {
      alert: false,
      lorem: "lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum"
    }
  }
}
</script>


