<template>
  <q-avatar
    :size="size ? size :'40px'"
    :style="'background:'+getRandomColor()"
    :text-color="src == 'avatar.png' ? 'white' : ''"
    class="relative"
  >
    <div v-if="src == 'avatar.png'">{{ noAvatar(name) }}</div>
    <img v-else-if="type == 'interest'" :src="s3+src" width="100" />
    <img v-else :src="s3+'/profile/'+user_id+'/'+src" width="100" />
    <changeAvatar v-if="upload" :user_id="user_id" />
  </q-avatar>
</template>

<script>
import changeAvatar from "components/common/changeAvatar";
export default {
  // name: 'ComponentName',
  props: ["size", "src", "name", "type", "user_id", "upload"],
  data() {
    return {
      color: "",
      s3: process.env.s3
    };
  },

  components: {
    changeAvatar
  },

  methods: {
    noAvatar(item) {
      var johntest = item.split(" ");
      var element = "";
      for (var i = 0; i < johntest.length; i++) {
        element += johntest[i].charAt(0);
      }
      return element.slice(0, 2).toUpperCase();
    },

    getRandomColor() {
      var letters = "0123456789ABCDEF";
      var color = "#";
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }
  }
};
</script>
