<template>
  <div>
    <q-btn
      color="primary"
      icon="ion-ios-camera"
      size="sm"
      round
      dense
      class="absolute"
      style="bottom: 0; right:0; margin-bottom: 10px"
      @click="open = true"
    />
    <q-dialog v-model="open">
      <q-card>
        <q-card-section class="text-center text-h6">Change your Avatar</q-card-section>

        <q-card-section>
          <upload
            :url="url"
            :is_upload="uploaded.is_upload"
            :upImage="true"
            :is_avatar="true"
            @readyFile="uploaded.ready = $event"
            @refreshFile="uploaded.ready = $event"
            @finishFile="finishFn"
          />
        </q-card-section>

        <q-card-actions align="center">
          <q-btn no-caps label="Upload" color="primary" @click="save()" :loading="loading" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import upload from "./upload";
export default {
  props: ["user_id"],
  data() {
    return {
      open: false,
      url: "/api/user/avatar",
      loading: false,
      uploaded: {
        ready: false,
        finishFile: false,
        is_upload: false
      }
    };
  },

  components: {
    upload
  },

  methods: {
    async save() {
      if (this.uploaded.ready) {
        this.loading = true;
        this.uploaded.is_upload = true;
      } else {
        this.uploaded.is_upload = false;
        this.open = false;
      }
    },

    finishFn(e) {
      this.$store.dispatch("auth/user");
      this.loading = false;
      this.uploaded.is_upload = false;
      this.open = false;
    }
  }
};
</script>

<style>
</style>
