<template>
  <div>

    <q-btn size="sm" no-caps color="primary" v-if="ifdept || ifschool || ifteacher ? true : false" label="Create Memo" @click="alert = true" />

    <q-dialog v-model="alert">
      <q-card>
        <q-card-section class="q-pb-none">
          <div class="text-h6">Create a Memo</div>

          <div class="column justify-end text-caption">
            <q-toggle v-if="ifschool" v-model="form.deptOnly" label="Departments only" />
            <q-toggle v-model="form.ifpublic" label="Make Public" />
          </div>
        </q-card-section>
        <q-card-section class="q-gutter-xs">
          <q-input square outlined v-model="form.text" label="Memo Title" />
          <q-input v-model="form.text" square outlined autogrow label="Details"/>
          <q-input filled v-model="form.date">
            <template v-slot:prepend>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-date v-model="form.date" mask="YYYY-MM-DD HH:mm" />
                </q-popup-proxy>
              </q-icon>
            </template>

            <template v-slot:append>
              <q-icon name="access_time" class="cursor-pointer">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-time v-model="form.date" mask="YYYY-MM-DD HH:mm" format24h />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </q-card-section>
        <q-card-actions align="right">
        <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      alert: false,
      form: {
        deptOnly: false,
        ifpublic: false,
        date:'',
        title:'',
        detail:''
      }
    }
  },

  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    ifdept(){ return this.$store.getters["auth/ifdept"] },
    ifschool(){ return this.$store.getters["auth/ifschool"] },
    route(){return this.$route.name}
  }
}
</script>
