<template>
  <div>
    <q-card square flat style="max-width: 300px" class="bg-transparent">
      <div v-if="uploadedFile != null" class="flex flex-center">
        <audio v-if="fileType == 'audio'" controls>
          <source :src="videoSrc" type="audio/ogg" />
          <source :src="videoSrc" type="audio/mpeg" />
          <source :src="videoSrc" type="audio/wav" />
        </audio>

        <video v-if="fileType == 'video'" width="100">
          <source :src="videoSrc" type="video/mp4" />
          <source :src="videoSrc" type="video/webm" />
          <source :src="videoSrc" type="video/ogg" />
        </video>

        <img v-if="fileType == 'image'   && !is_avatar " width="100" :src="image" />

        <q-avatar
          v-if="fileType == 'image' && is_avatar"
          size="100px"
          color="red"
          text-color="white"
        >
          <img width="100" :src="image" />
        </q-avatar>

        <img v-if="fileType == 'application'" width="300" height="200" src="statics\image\file.svg" />
      </div>
      <q-card-section v-if="uploadedFile == null" class="row q-gutter-x-sm flex-center no-padding">
        <div v-if="upImage == true">
          <input
            ref="imageFile"
            style="display: none"
            @change="onFile"
            type="file"
            accept="image/.jpg, .jpeg, .png"
          />
          <q-btn
            round
            text-color="white"
            color="secondary"
            no-caps
            icon="ion-ios-image"
            @click="$refs.imageFile.click()"
          />
        </div>
        <div v-if="upVideo == true">
          <input
            ref="videoFile"
            style="display: none"
            @change="onFile"
            type="file"
            accept="video/.mpg, .mp4, .mov, .wmv"
          />
          <q-btn
            round
            text-color="white"
            color="secondary"
            no-caps
            icon="ion-ios-videocam"
            @click="$refs.videoFile.click()"
          />
        </div>
        <div v-if="upAudio == true">
          <input
            ref="audioFile"
            style="display: none"
            @change="onFile"
            type="file"
            accept="audio/.wav, .mp3"
          />
          <q-btn
            round
            text-color="white"
            color="secondary"
            no-caps
            icon="ion-ios-microphone"
            @click="$refs.audioFile.click()"
          />
        </div>
        <div v-if="upDoc == true">
          <input ref="docFile" style="display: none" @change="onFile" type="file" />
          <q-btn
            round
            text-color="white"
            color="secondary"
            no-caps
            icon="ion-ios-document"
            @click="$refs.docFile.click()"
          />
        </div>
      </q-card-section>

      <q-card-section v-if="uploadedFile != null" class="flex flex-center q-py-none">
        <q-item>
          <q-item-section>
            <q-item-label class="text-primary text-bold text-center">{{ uploadedFile.name }}</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-item-label caption v-if="loadPercent != null">
              {{
              " Uploading: " + loadPercent
              }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-card-section>
      <q-card-actions class="q-gutter-xs q-py-none" align="center">
        <!-- <div  v-if="uploadedFile == null">
          <div class="text-bold text-secondary">Upload Media </div>
        </div>-->
        <div v-if="uploadedFile != null" class="q-gutter-x-xs">
          <q-btn
            color="negative"
            no-caps
            icon="ion-ios-trash"
            @click="deleteFile()"
            :loading="loading"
          >
            <template v-slot:loading>Uploading file...</template>
          </q-btn>

          <q-btn
            v-if="uploader == true"
            ref="uploadFile"
            color="primary"
            no-caps
            icon="ion-cloud-upload"
            @click="upFile()"
          />
        </div>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin],
  props: [
    "is_upload",
    "url",
    "type_id",
    "type",
    "upDoc",
    "upImage",
    "upVideo",
    "upAudio",
    "uploader",
    "is_avatar"
  ],
  data() {
    return {
      loading: false,
      uploadedFile: null,
      loadPercent: null,
      videoSrc: null,
      image: "",
      fileType: "",
      title: "title"
    };
  },

  watch: {
    is_upload: function(newData, oldData) {
      if (newData) {
        this.upFile();
        this.loading = true;
      }
    }
  },

  methods: {
    onFile(e) {
      this.uploadedFile = e.target.files[0];
      if (this.uploadedFile.length < 1) return;
      this.createImage(this.uploadedFile);
      this.$emit("readyFile", true);
    },

    createImage(file) {
      var image = new Image();
      var reader = new FileReader();
      this.fileType = file.type.split("/")[0];
      this.videoSrc = URL.createObjectURL(file);
      reader.onload = e => {
        this.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },

    async upFile() {
      const formData = new FormData();
      formData.append("type", this.type);
      formData.append("type_id", this.type_id);
      formData.append("data", this.uploadedFile, this.uploadedFile.name);
      const res = await this.postRequest(this.url, formData);
      this.$emit("finishFile", false);
      this.loading = false;
    },

    deleteFile() {
      this.image = "";
      this.uploadedFile = null;
      this.loadPercent = null;
      this.videoSrc = null;
      this.$emit("refreshFile", false);
    }
  }
};
</script>
