<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          v-if="iflogin == true"

          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title class="text-subtitle">
          <q-avatar class="gt-sm">
            <img src="statics/eduAvatar.png">
          </q-avatar>
          Edu9ja
        </q-toolbar-title>

        <div v-if="iflogin == true" class="q-gutter-xs">
          <q-btn flat no-caps size="sm" color="white" label="Logout" :to="{name: 'home'}" @click="logout" />
          <q-btn flat round size="sm" color="white" icon="notifications" :to="{name: 'notification'}" />
          <q-btn flat round size="sm" color="white" icon="settings" :to="{name: 'settings'}" />
          <q-btn flat round size="sm" color="white" icon="account_circle" :to="{name: 'profile'}" />
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Welcome {{clearanceNotice()}}
          <div class="column">
            <q-toggle v-model="thedata" label="Teacher" />
            <q-toggle v-model="deptData" label="Department" />
            <q-toggle v-model="schData" label="School" />
          </div>

        </q-item-label>
        <div v-if="!ifschool">
          <div v-if="!ifdept">
            <EssentialLink
              v-for="link in (ifteacher ? teacherMenu : studentMenu)"
              :key="link.title"
              v-bind="link"
            />
          </div>
        </div>

        <div v-if="ifschool">
          <EssentialLink
            v-for="link in schoolMenu"
            :key="link.title"
            v-bind="link"
          />
        </div>
        <div v-if="ifdept">
          <EssentialLink
            v-for="link in DeptMenu"
            :key="link.title"
            v-bind="link"
          />
        </div>

      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/common/EssentialLink'

export default {
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  data () {
    return {
      leftDrawerOpen: false,
      thedata : false,
      deptData : false,
      schData : false,
      studentMenu: [
        {
          title: 'Board',
          icon: 'dashboard',
          link: 'Dashboard'
        },
        {
          title: 'Courses',
          icon: 'collections_bookmark',
          link: 'Courses'
        },
      ],
      teacherMenu: [
        {
          title: 'Board',
          icon: 'dashboard',
          link: 'Dashboard'
        },
        {
          title: 'staffroom',
          icon: 'work',
          link: 'https://github.com/quasarframework'
        },
        {
          title: 'scripts',
          icon: 'receipt',
          link: 'https://forum.quasar.dev'
        },
        {
          title: 'Lecture Notes',
          icon: 'note',
          link: 'https://twitter.quasar.dev'
        },
        {
          title: 'Curiculum',
          icon: 'table_chart',
          link: 'https://facebook.quasar.dev'
        }
      ],
      DeptMenu: [
        {
          title: 'Board',
          icon: 'dashboard',
          link: 'Dashboard'
        },
        {
          title: 'Courses',
          icon: 'work',
          link: 'https://github.com/quasarframework'
        },
        {
          title: 'Memo',
          icon: 'class',
          link: 'https://chat.quasar.dev'
        },
        {
          title: 'Scheduling',
          icon: 'receipt',
          link: 'https://forum.quasar.dev'
        },
      ],
      schoolMenu: [
        {
          title: 'Board',
          icon: 'dashboard',
          link: 'Dashboard'
        },
        {
          title:'Departments',
          icon: 'school',
          link: '/Dashboard'
        },
      ],

    }
  },

  methods: {
    logout(){
      this.$store.commit("auth/login", false);
      this.$router.push({name: 'home'})
    },
    userType(data){ this.$store.commit("auth/userType", data); },
    dept(data){ this.$store.commit("auth/ifdept", data); },
    school(data){ this.$store.commit("auth/ifschool", data); },

    clearanceNotice(){
      if (this.deptData){
        this.schData = false
        this.thedata = false
        return 'Department Head'
      }
      else if (this.schData){
        this.deptData = false
        this.thedata = false
        return 'School Admin'
      }
      else if (this.thedata){
        this.deptData = false
        this.schData = false
        return 'Teacher'
      }
      else if (!this.thedata){return 'Student'}
      // this.ifteacher ? 'Teacher' : 'Student'
    }
  },

  watch: {
    thedata: function(newData){
      console.log(newData)
      this.userType(newData)
    },

    deptData(newData){
      console.log(newData)
      this.dept(newData)
    },

    schData(newData){
      console.log(newData)
      this.school(newData)
    }

  },

  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    ifdept(){ return this.$store.getters["auth/ifdept"] },
    ifschool(){ return this.$store.getters["auth/ifschool"] },
    route(){return this.$route.name}
  }
}
</script>
