<template>
  <div>
    <q-card>
      <q-card-section class="text-primary text-h4" style="min-width: 300px">
        <div>Login</div>
      </q-card-section>
      <q-card-section class="q-gutter-xs">
        <q-input outlined v-model="form.email" label="email" />
        <q-input
          type="password"
          outlined
          v-model="form.password"
          label="password"
        />
      </q-card-section>
      <q-card-actions align="center">
        <q-btn
          color="primary"
          no-caps
          label="Login"
          class="full-width"
          @click="enter"
        />
      </q-card-actions>
      <q-card-actions align="center">
        <q-btn
          color="primary"
          no-caps
          :to="{ name: 'register' }"
          flat
          label="Sign Up"
        />
        <q-btn
          color="primary"
          no-caps
          :to="{ name: 'forget' }"
          flat
          label="Forgot Password ?"
        />
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data() {
    return {
      form: {
        email: "",
        password: ""
      },
      timetable:{
        days: [
          'Monday',
          'Tuesday',
          'Wednesday',
          'Thursday',
          'Friday',
          'Saturday'
        ],
        time: [
          '7:00AM - 8:00AM',
          '8:00AM - 9:00AM',
          '9:00AM - 10:00AM',
          '10:00AM - 11:00AM',
          '11:00AM - 12:00PM',
          '12:00PM - 1:00PM',
          '1:00PM - 2:00PM',
          '2:00PM - 3:00PM',
          '3:00PM - 4:00PM',
          '4:00PM - 5:00PM',
          '5:00PM - 6:00PM',
          '6:00PM - 7:00PM',
        ]
      }
    };
  },

  methods: {
    // async login() {
    //   const response = await this.$axios.post(
    //     process.env.Api + "login",
    //     this.form
    //   );
    //   const data = response.data;
    //   this.$q.localStorage.set("icare-token", data.access_token);
    //   this.$router.push({ name: "prescription" });
    // },
    enter(){
      // this.$emit('loggedIn', true)
      this.$store.commit("auth/login", true);
      this.setTimetable()
      this.$router.push({name: 'Dashboard'})
    },
    setTimetable(){
      let timeline = this.timetable
      this.$q.localStorage.set('mytimeline', JSON.stringify(timeline));
    },

  }
};
</script>
